In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch

In [7]:
import sys
sys.version

'3.10.9 | packaged by conda-forge | (main, Jan 11 2023, 15:15:40) [MSC v.1916 64 bit (AMD64)]'

In [13]:
import matplotlib

In [11]:
!pip install --user matplotlib

Collecting matplotlib
  Using cached matplotlib-3.8.1-cp310-cp310-win_amd64.whl.metadata (5.9 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: packaging>=20.0 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=8 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\lockd\anaconda3\envs\pytest\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached matplotlib-3.8.1-cp310-cp310-win_amd64.whl (7.6 MB)
Installing collected packages: matplotlib
Successfully installed matplotlib-3.8.1

WARNING: Ignoring invalid distribution -atplotlib (c:\users\lockd\anaconda3\envs\pytest\lib\site-packages)
WARNING: Ignoring invalid distribution -orch (c:\users\lockd\anaconda3\envs\pytest\lib\site-packages)
WARNING: Error parsing requirements for torch: [Errno 2] No such file or directory: 'c:\\users\\lockd\\anaconda3\\envs\\pytest\\lib\\site-packages\\torch-2.0.0.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -atplotlib (c:\users\lockd\anaconda3\envs\pytest\lib\site-packages)
WARNING: Ignoring invalid distribution -orch (c:\users\lockd\anaconda3\envs\pytest\lib\site-packages)

In [2]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59397 entries, 0 to 59396
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           59397 non-null  object
 1   timestamp    59397 non-null  object
 2   item         59397 non-null  object
 3   corporation  59397 non-null  object
 4   location     59397 non-null  object
 5   supply(kg)   59397 non-null  float64
 6   price(원/kg)  59397 non-null  float64
dtypes: float64(2), object(5)
memory usage: 3.2+ MB

In [5]:
#Data preProcessing
#시계열의 특성을 반영하기 위해 timestamp를 월, 일, 시간으로 나눔
train_df['year'] = train_df['timestamp'].apply(lambda x : int(x[0:4]))
train_df['month'] = train_df['timestamp'].apply(lambda x: int(x[5:7]))
train_df['day'] = train_df['timestamp'].apply(lambda x: int(x[8:10]))

test_df['year']=test_df['timestamp'].apply(lambda x:int(x[0:4]))
test_df['month'] = test_df['timestamp'].apply(lambda x: int(x[5:7]))
test_df['day'] = test_df['timestamp'].apply(lambda x: int(x[8:10]))

In [10]:
train_df.head()

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg),year,month,day
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,2
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,3
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,4
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,5

In [7]:
#학습에 사용하지 않을 변수들을 제거
train_x = train_df.drop(columns = ['ID','timestamp','supply(kg)','price(원/kg)'])
train_y = train_df['price(원/kg)']

test_x = test_df.drop(columns=["ID","timestamp"])

In [9]:
train_x.head()

  item corporation location  year  month  day
0   TG           A        J  2019      1    1
1   TG           A        J  2019      1    2
2   TG           A        J  2019      1    3
3   TG           A        J  2019      1    4
4   TG           A        J  2019      1    5